<form class="form-horizontal" method="post" [formGroup]="productForm">
    <fieldset>
        <legend>{{this.id == undefined ? 'Input' : 'Update'}} Product</legend>
        <div class="form-group">
            <label for="productId" class="col">Product ID</label>
            <div class="col">
                <input type="text" class="form-control" id="productId" placeholder="Product ID"
                [formControlName]="'productId'" [readonly]="this.id == undefined ? false : true">
                <span *ngIf="!productForm.get('productId')?.valid &&
                productForm.get('productId')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="productName" class="col">Product Name</label>
            <div class="col">
                <input type="text" class="form-control" id="productName" placeholder="Product Name"
                [formControlName]="'productName'">
                <span *ngIf="!productForm.get('productName')?.valid &&
                productForm.get('productName')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="supplierId" class="col">Supplier ID</label>
            <div class="col">
                <input type="text" class="form-control" id="supplierId" placeholder="Supplier ID"
                [formControlName]="'supplierId'">
                <span *ngIf="!productForm.get('supplierId')?.valid &&
                productForm.get('supplierId')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="categoryId" class="col">Category ID</label>
            <div class="col">
                <input type="text" class="form-control" id="categoryId" placeholder="Category ID"
                [formControlName]="'categoryId'">
                <span *ngIf="!productForm.get('categoryId')?.valid &&
                productForm.get('categoryId')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="quantityperUnit" class="col">Quantity/Unit</label>
            <div class="col">
                <input type="text" class="form-control" id="quantityperUnit" placeholder="Quantity/Unit"
                [formControlName]="'quantityperUnit'">
                <span *ngIf="!productForm.get('quantityperUnit')?.valid &&
                productForm.get('quantityperUnit')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="unitPrice" class="col">Unit Price</label>
            <div class="col">
                <input type="text" class="form-control" id="unitPrice" placeholder="Unit Price"
                [formControlName]="'unitPrice'">
                <span *ngIf="!productForm.get('unitPrice')?.valid &&
                productForm.get('unitPrice')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="unitsInStock" class="col">Units in Stock</label>
            <div class="col">
                <input type="text" class="form-control" id="unitsInStock" placeholder="Units in Stock"
                [formControlName]="'unitsInStock'">
                <span *ngIf="!productForm.get('unitsInStock')?.valid &&
                productForm.get('unitsInStock')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="unitsOnOrder" class="col">Units on Order</label>
            <div class="col">
                <input type="text" class="form-control" id="unitsOnOrder" placeholder="Units on Order"
                [formControlName]="'unitsOnOrder'">
                <span *ngIf="!productForm.get('unitsOnOrder')?.valid &&
                productForm.get('unitsOnOrder')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="reorderLevel" class="col">Reorder Level</label>
            <div class="col">
                <input type="text" class="form-control" id="reorderLevel" placeholder="Reorder Level"
                [formControlName]="'reorderLevel'">
                <span *ngIf="!productForm.get('reorderLevel')?.valid &&
                productForm.get('reorderLevel')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>
        <div class="form-group">
            <label for="discontinued" class="col">Discontinued</label>
            <div class="col">
                <input type="text" class="form-control" id="discontinued" placeholder="Discontinued"
                [formControlName]="'discontinued'">
                <span *ngIf="!productForm.get('discontinued')?.valid &&
                productForm.get('discontinued')?.touched" class="text-danger">Wajib diisi!</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col">
                <button type="submit" class="btn btn-primary" (click)="simpan()">Submit</button>
            </div>
        </div>
    </fieldset>
</form>